<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/login.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <!--顶部导航栏开始-->
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="navbar-header" style="width: 150px">
                        <a href="~/Home/index"><img src="~/img/logo.png" height="50px" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!--class="active"-->
                            <li>
                                <a href="#">活跃用户</a>
                            </li>
                            <li>
                                <a href="~/User/frame">热门项目</a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="要搜索的项目，用户..." />
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
                            <li>
                                <a href="~/Home/register">注册</a>
                            </li>
                            <li>
                                <a href="~/Home/login">登录</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--顶部导航栏结束-->
        </div>
    </div>
    <div class="login">
        <h2>找回密码</h2>

        <div class="login-top">
            <form action="~/Home/doFindPwd" method="post">
                <h1><a href="~/Home/index"> <img src="~/img/logo.png" height="60" width="156" /></a></h1>
                <input type="text" name="eamil" placeholder="请输入要找回账号的注册邮箱...">
                <div><strong style="color:red">@ViewData["msg"]</strong></div>
                <div class="forgot">
                    <input type="submit" value="立即找回">
                </div>
            </form>
        </div>
        <div class="login-bottom">
            <h3>&nbsp;<a href="~/Home/login">返回</a>&nbsp 登录</h3>
        </div>
    </div>
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>