<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/myFollow.css">
</head>
<body>
<div class="jumbotron">
    <div style="margin-left: 5%">
        <h1>
            搜索结果
        </h1>
        <p>

        </p>
    </div>  
</div>
<div class="container">
    <div class="col-md-9 column">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#followUser" data-toggle="tab">用户</a>
                </li>
                <li class="active">
                    <a href="#followProject" data-toggle="tab">项目</a>
                </li>
            </ul>
            <!--关注用户开始-->
            <div class="tab-content">
                <div class="tab-pane" id="followUser">
                    <ul>
                        <li style="border-bottom: 1px solid #eee;">
                            <h2>
                                <a href="#">用户名</a>
                            </h2>
                            <p class="overHidden">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo,
                                tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                magna
                                mollis
                                euismod. Donec sed odio dui.
                            </p>
                        </li>
                        <li style="border-bottom: 1px solid #eee;">
                            <h2>
                                <a href="#">用户名</a>
                            </h2>
                            <p class="overHidden">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo,
                                tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                magna
                                mollis
                                euismod. Donec sed odio dui.
                            </p>
                        </li>
                        <li style="border-bottom: 1px solid #eee;">
                            <h2>
                                <a href="#">用户名</a>
                            </h2>
                            <p class="overHidden">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo,
                                tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                magna
                                mollis
                                euismod. Donec sed odio dui.
                            </p>
                        </li>
                        <li style="border-bottom: 1px solid #eee;">
                            <h2>
                                <a href="#">用户名</a>
                            </h2>
                            <p class="overHidden">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo,
                                tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                magna
                                mollis
                                euismod. Donec sed odio dui.
                            </p>
                        </li>
                        <div align="center">
                            <ul class="pagination" align="center">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="disabled"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <!--关注用户结束-->
                <!--关注项目开始-->
                <div class="tab-pane active" id="followProject">
                    <ul>
                        <li style="border-top: 1px solid #eee;">
                            <h2>
                                <a href="#">用户名</a>/<a href="#">项目名</a>
                            </h2>
                            <p class="overHidden">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                magna mollis
                                euismod. Donec sed odio dui.
                            </p>
                            <p>
                                <span class="repo-language-color ml-0" style="background-color:#555555;"></span>
                                Java &nbsp&nbsp&nbsp
                                创建于： 8月前
                                <span class="glyphicon glyphicon-star" style="margin-left: 10px"></span>
                                1111
                            </p>
                        </li>
                        <li style="border-top: 1px solid #eee;">
                            <h2>
                                <a href="#">用户名</a>/<a href="#">项目名</a>
                            </h2>
                            <p class="overHidden">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                magna mollis
                                euismod. Donec sed odio dui.
                            </p>
                            <p>
                                <span class="repo-language-color ml-0" style="background-color:#555555;"></span>
                                Java &nbsp&nbsp&nbsp
                                创建于： 8月前
                                <span class="glyphicon glyphicon-star" style="margin-left: 10px"></span>
                                1111
                            </p>
                        </li>
                        <li style="border-top: 1px solid #eee;">
                            <h2>
                                <a href="#">用户名</a>/<a href="#">项目名</a>
                            </h2>
                            <p class="overHidden">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                                magna mollis
                                euismod. Donec sed odio dui.
                            </p>
                            <p>
                                <span class="repo-language-color ml-0" style="background-color:#555555;"></span>
                                Java &nbsp&nbsp&nbsp
                                创建于： 8月前
                                <span class="glyphicon glyphicon-star" style="margin-left: 10px"></span>
                                1111
                            </p>
                        </li>
                    </ul>
                    <div align="center">
                        <ul class="pagination" align="center">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li class="disabled"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                    <div id="callBackPager"></div>
                </div>
                <!--关注项目结束-->
            </div>
        </div>
    </div>
    <div class="col-md-3 column">
        <h3 style="margin-left: 50px">可能感兴趣的</h3>
        <div class="repositories">
            <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
            <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
            <div>
                <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
            </div>
        </div>
        <div class="repositories">
            <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
            <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
            <div>
                <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
            </div>
        </div>
        <div class="repositories">
            <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
            <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
            <div>
                <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
            </div>
        </div>
        <div class="repositories">
            <div><a class="text-bold" href="projectFiles.html">我的项目</a></div>
            <div class="smaill-text"><span>afasdfasdfasdfasdfasdfasdasdfasdf</span></div>
            <div>
                <span class="repo-language-color" style="background-color:#563d7c;"></span>Java
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
</body>
</html>