<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
<div align="center">
    <a href="~/Home/index"> <img src="~/img/logo.png"/> 
    <h1 style="color: white">CGit, A Code hosting platform</h1></a>
</div>
<div class="register-container container">
    <div class="row">
        <div style="margin-top: 100px" class="iphone span5">
            <img src="~/img/code.jpg"/>
        </div>
        <div class="register span6">
            <form>
                <h2>@ViewData["msg"]</h2>
                <label>@ViewData["result"]</label>
                <a href="/Home/index"><button type="button">返回主页</button></a>
            </form>
        </div>
    </div>
</div>
<!-- Javascript -->
<script src="~/assets/js/jquery-1.8.2.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.backstretch.min.js"></script>
<script src="~/assets/js/scripts.js"></script>
</body>
</html>