<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/projectFiles.css">
</head>
<body>
<div class="row clearfix">
    <!--左边空位-->
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
        <div style="color: #0e90d2;font-size: 18px;margin-bottom: 20px;margin-top: 50px">
            <svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                <path fill-rule="evenodd"
                      d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
            </svg>
            <a href="#">1137889088</a><span style="color: #0e0e0e;margin:0 4px 0 4px">/</span><a href="#">C0Compiler</a>
            <button type="button" style="float: right;height: 30px" class="btn btn-default">
                <span class="glyphicon glyphicon-star"></span>
                <span>关注</span>
            </button>
        </div>
        <hr/>
        <div>
            <span style="font-size: 24px">教材管理系统</span>
            <button type="button" data-toggle="modal" data-target="#addComment" style="float: right; margin-right: 8px"
                    class="btn btn-default ">
                <span class="glyphicon glyphicon-edit icon"></span>添加评论
            </button>
        </div>
        <hr/>
        <!-- -->
        <div>
            <div>
                <div class="commit-tease">
                    <img alt="1137889088" height="20" src="~/img/19888480.jpg" width="20">
                    <a href="#" style="margin-top: 2px">1137889088</a>
                    <span>大沙发斯蒂芬</span>
                    <span style="float: right">提交时间：26 Jul 2016</span>
                </div>
                <div class="commentLine">
                    阿斯蒂芬士大夫啥地方好看asdfsadfsadf撒货到付款华师大付款撒地方开始的发挥闪电发货刷卡地方哈斯卡老地方和萨拉对方和沙拉快递费哈斯卡老地方和沙拉快递费啥了dsd
                </div>
            </div>
            <div>
                <div class="commit-tease">
                    <img alt="1137889088" height="20" src="~/img/19888480.jpg" width="20">
                    <a href="#" style="margin-top: 2px">1137889088</a>
                    <span>大沙发斯蒂芬</span>
                    <span style="float: right">提交时间：26 Jul 2016</span>
                </div>
                <div class="commentLine">
                    阿斯蒂芬士大夫啥地方好看asdfsadfsadf撒货到付款华师大付款撒地方开始的发挥闪电发货刷卡地方哈斯卡老地方和萨拉对方和沙拉快递费哈斯卡老地方和沙拉快递费啥了dsd
                </div>
            </div>
            <div>
                <div class="commit-tease">
                    <img alt="1137889088" height="20" src="~/img/19888480.jpg" width="20">
                    <a href="#" style="margin-top: 2px">1137889088</a>
                    <span>大沙发斯蒂芬</span>
                    <span style="float: right">提交时间：26 Jul 2016</span>
                </div>
                <div class="commentLine">
                    阿斯蒂芬士大夫啥地方好看asdfsadfsadf撒货到付款华师大付款撒地方开始的发挥闪电发货刷卡地方哈斯卡老地方和萨拉对方和沙拉快递费哈斯卡老地方和沙拉快递费啥了dsd
                </div>
            </div>
            <div>
                <div class="commit-tease">
                    <img alt="1137889088" height="20" src="~/img/19888480.jpg" width="20">
                    <a href="#" style="margin-top: 2px">1137889088</a>
                    <span>大沙发斯蒂芬</span>
                    <span style="float: right">提交时间：26 Jul 2016</span>
                </div>
                <div class="commentLine">
                    阿斯蒂芬士大夫啥地方好看asdfsadfsadf撒货到付款华师大付款撒地方开始的发挥闪电发货刷卡地方哈斯卡老地方和萨拉对方和沙拉快递费哈斯卡老地方和沙拉快递费啥了dsd
                </div>
            </div>
        </div>
        <div class="col-md-2 column">
        </div>
    </div>
    <!-- 添加评论模态框（Modal） -->
    <div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加评论</h4>
                </div>
                <div class="modal-body" align="center">
                    <div class="margin">标题：<input type="text"></div>
                    <textarea name="MSG" style="resize: none;margin-top: 10px"  required wrap="soft" cols=70 rows=20/></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

</body>
</html>
