.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.octicon {
     display: inline-block;
     vertical-align: text-top;
     fill: currentColor;
 }
.txtt{
    float: right;
    padding-right: 5%;
}
.language-list{
    padding-left: 40px;
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Nimbus Sans L","Segoe UI",Arial,"Liberation Sans","PingFang SC","Microsoft YaHei","Hiragino Sans GB","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
    font-size: 16px;
    border: 1px solid #E3E9ED;
}
.language-header{
    background: #f1f1f1;
    border: 1px solid #eee;
    border-radius: 0.3125rem 0.3125rem 0em 0em;
    font-size: 1em;
    padding: 0.75rem 1rem;
    margin-left: -1px;
    margin-right: -1px;
    box-shadow: none;
}
.overHidden{
    overflow: hidden;
}