<!DOCTYPE html>
@using CGit.Models;
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CGit</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/hotProject.css">
</head>
<body>
<div class="jumbotron">
    <div style="margin-left: 5%">
        <h1>
            这是较为活跃的用户
        </h1>
        <p>
            这些项目一般质量较高；<br/>
            浏览高质量的代码，学习更多的编程技巧，丰富自己的知识，了解别人解决问题的思路。
        </p>
    </div>
</div>
<div class="col-md-12 column" style="width: 70%">
    <div>
         <ul>
             @if (((List<User>)ViewData["userList"]) != null)
             {
                 foreach (var user in ((List<User>)ViewData["userList"]))
                 {
                     <li style="border-bottom: 1px solid #eee;">
                         <h2>
                             <a href="~/User/userHome?email=@user.email">@user.name</a>
                         </h2>
                         <p class="overHidden">
                             @user.resume
                         </p>
                     </li>
                 }
             }
             else
             {
                 <div style="color:#666;" align="center">还没用户！</div>
             }
        </ul>
    </div>

</div>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script type="text/javascript">
    //var total ='';
    /*
    $(function () {
        //进入页面的时候需要调用callBackPagination这个函数，传入当前页，页大小，总页数
        callBackPagination(1, 10, total); //参数一：当前页 参数二：页大小  参数三：数据总条数（不需要传递总页数）
    })
    //这段代码不许要动
    function callBackPagination(showCount, limit, totalCount) {
        createTable(1, limit, totalCount); //第一次调用(加载第一页数据)
        $('#callBackPager').extendPagination({  //根据传入的参数生成分页控件
            totalCount: totalCount,
            showCount: showCount,
            limit: limit,
            callback: function (curr, limit, totalCount) {//当点击分页控件页码时会触发此回调函数
                createTable(curr, limit, totalCount);
            }
        });
    }
    //用的时候只需要写下面这段ajax代码就可以
    function createTable(currPage, limit, total) {
        $.post("/Home/GetIndexData", { currPage: currPage, pageSize: limit }, function (data) {
            $("#tb").empty();
            $.each(data, function (k, v) {
                $("#tb").append("<tr><td>" + v.locId + "</td><td>" + v.locName + "</td><td>" + v.parentId + "</td></tr>")
            })
        })
    }
   
</script>
</body>
</html>